In [19]:
# Install a pip package in the current Jupyter kernel
# import sys
# !{sys.executable} -m pip install nfl_data_py
import nfl_data_py as nfl
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [13]:
## Generate mdf
mdf = pd.read_csv('donor_data.csv')
display(mdf.head(10))

# # Analyze the columns with some but not all null vals.x
col_space = mdf.columns
null_info_df = pd.DataFrame(index=col_space)
for column in col_space:
    null_count = mdf[column].isnull().sum()
    null_rate = mdf[column].isnull().mean()
    row_count = mdf[column].size
    null_info_df.at[column,'null_count'] = null_count
    null_info_df.at[column,'row_count'] = row_count
    null_info_df.at[column, 'null_rate'] = round(null_rate * 100,2)
    
null_info_df = null_info_df.sort_values(by=['null_rate'], axis=0, ascending=False)
null_info_df

,LGL Constituent ID,Age,Is deceased?,Giving Summary (all time),School Name,MailChimp Status,Groups,Communication Tags,Giving Status,Postal Route Code,...,TG Amt. Last Fiscal,First gift date,First gift amount,Last gift date,Last gift amount,Largest gift date,Largest gift amount,Appeal,Received any appeal?,Gave to any appeal?
0,944602,NaN,No,NaN,NaN,Subscribed,Construction Volunteer - Community,Habitat Happenings,Non Donor,28104-R005,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,No
1,944612,NaN,No,NaN,NaN,Removed,Construction Volunteer - Community,Habitat Happenings;No valid phone,Non Donor,28226-C061,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,No
2,944622,NaN,No,NaN,NaN,Subscribed,Construction Volunteer - Community,NaN,Non Donor,28173-R006,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,No
3,948717,NaN,No,NaN,NaN,Subscribed,Construction Volunteer - Community,Habitat Happenings;No valid phone,Non Donor,28105-R042,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,No
4,944832,NaN,No,Gifts: 2 / $70\n,NaN,Subscribed,NaN,Habitat Happenings,Lapsed Donor,28079-R048,...,0.0,12/29/2016,35.0,12/29/2016,35.0,12/29/2016,35.0,NaN,Yes,No
5,948047,NaN,No,In Kind: 1 / $0\n,NaN,NaN,NaN,No valid email;No valid phone,Non Donor,NaN,...,0.0,10/23/2014,0.0,10/23/2014,0.0,10/23/2014,0.0,NaN,No,No
6,944937,NaN,No,Gifts: 3 / $130\n,NaN,NaN,NaN,No valid email,Active Donor,28270-R035,...,30.0,11/30/2019,50.0,12/29/2021,50.0,11/30/2019,50.0,NaN,Yes,Yes
7,945667,51.0,No,"Gifts: 1 / $1,000\nSoft Credits: 4 / $6,500\n",NaN,Subscribed,ReStore - Current Volunteer,Habitat Happenings;ReStore Newsletter,Top 100 Donor;Active Donor,NaN,...,0.0,12/12/2018,1000.0,12/14/2021,2500.0,12/14/2021,2500.0,NaN,Yes,No
8,946862,NaN,Yes,Gifts: 1 / $25\n,NaN,NaN,NaN,No valid email;No valid phone,Lapsed Donor,28270-R035,...,0.0,12/22/2015,25.0,12/22/2015,25.0,12/22/2015,25.0,NaN,No,No
9,948732,NaN,No,NaN,NaN,NaN,NaN,No valid email;No valid phone,Non Donor,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,No

                           null_count  row_count  null_rate
School Name                    1822.0     1822.0     100.00
Appeal                         1822.0     1822.0     100.00
Age                            1601.0     1822.0      87.87
Postal Route Code              1390.0     1822.0      76.29
Giving Summary (all time)      1383.0     1822.0      75.91
First gift amount              1380.0     1822.0      75.74
First gift date                1380.0     1822.0      75.74
Largest gift date              1380.0     1822.0      75.74
Largest gift amount            1380.0     1822.0      75.74
Last gift date                 1380.0     1822.0      75.74
Last gift amount               1380.0     1822.0      75.74
Groups                         1260.0     1822.0      69.15
MailChimp Status                976.0     1822.0      53.57
Pref. City                      345.0     1822.0      18.94
Pref. State/Province            345.0     1822.0      18.94
Pref. ZIP/Postal Code           345.0     1822.0      18.94
Communication Tags              219.0     1822.0      12.02
Received any appeal?              0.0     1822.0       0.00
LGL Constituent ID                0.0     1822.0       0.00
TG Amt. Last Fiscal               0.0     1822.0       0.00
TG Amt. This Fiscal               0.0     1822.0       0.00
Giving Status                     0.0     1822.0       0.00
Is deceased?                      0.0     1822.0       0.00
Gave to any appeal?               0.0     1822.0       0.00

In [23]:
# Columnwise EDA function:

def column_eda(df, series_name):
    series = df[series_name]
    if df[series_name].dtypes == "object":
        s_mode = series.value_counts().max()
        str_mode = f"Column mode: {s_mode}\n"
        s_mean = "n/a"
        s_median = "n/a"
        s_std = "n/a"
        s_min = "n/a"
        s_max = "n/a"
    else:
        s_mode = series.value_counts().max()
        s_mean = round(series.mean(),2)
        str_mean = f"Column mean: {s_mean}\n"
        s_median = series.median()
        s_std = round(series.std(), 2)
        s_min = series.min()
        s_max = series.max()
    s_count = series.count()

    null_rate = round(series.isnull().mean() * 100, 2)
    grouped = series.groupby(series).agg('count').sort_values(ascending = False).head(10)
    str_nr = f"Null rate: {null_rate}\n"
    str_mean = f"Mean: {s_mean}\n"
    str_median = f"Median: {s_median}"
    str_mode = f"Mode: {s_mode}\n"
    str_std = f"Standard deviation: {s_std}\n"
    str_count = f"Total obs: {s_count}\n"
    str_min = f"Column min: {s_min}\n"
    str_max = f"column max: {s_max}\n"
    
    print(f"{series_name}:\n")
    print(f"Data type: {series.dtype}\n")
    print(str_count)
    print(str_nr)
    print(str_mean)
    print(str_median)
    print(str_mode)
    print(str_std)
    print(str_min)
    print(str_max)
    print(grouped)
    print("\n *********************************************************\n")
    
    # build df for report

# Columnwise EDA summary buildling dataframe and export to .csv ability.
def column_summary_df(df):
    col_space = df.columns
    col_info_df = pd.DataFrame(index = col_space)
    for column in col_space:
        if df[column].dtypes == "object":
            s_mode = df[column].value_counts().max()
            s_mean = "n/a"
            s_median = "n/a"
            s_std = "n/a"
            s_min = "n/a"
            s_max = "n/a"
        else:
            s_mode = df[column].value_counts().max()
            s_mean = round(df[column].mean(),2)
            s_median = df[column].median()
            s_std = round(df[column].std(), 2)
            s_min = df[column].min()
            s_max = df[column].max()
        row_count = df[column].size
        null_count = df[column].isnull().sum()
        null_rate = df[column].isnull().mean()
        col_info_df.at[column,'obs_count'] = row_count
        col_info_df.at[column, 'mode'] = str(s_mode)
        col_info_df.at[column, 'median'] = str(median)
        col_info_df.at[column, 'mean'] = str(mean)
        col_info_df.at[column, 'std_dev'] = str(s_std)
        col_info_df.at[column,'min_val'] = str(s_min)
        col_info_df.at[column, 'max_val'] = str(s_max)
        col_info_df.at[column,'null_count'] = null_count
        col_info_df.at[column, 'null_rate'] = round(null_rate * 100,2)
    return col_info_df

In [24]:
col_nums = mdf.shape[1]-1
col_indexes = list(range(0,col_nums))
for val in col_indexes:
    series_name = mdf.columns[val]
    column_eda(mdf, series_name)

LGL Constituent ID:

Data type: int64

Total obs: 1822

Null rate: 0.0

Mean: 950363.6

Median: 950114.5
Mode: 1

Standard deviation: 3678.93

Column min: 944477

column max: 958057

LGL Constituent ID
944477    1
952032    1
952207    1
952202    1
952197    1
952182    1
952172    1
952167    1
952162    1
952152    1
Name: LGL Constituent ID, dtype: int64

 *********************************************************

Age:

Data type: float64

Total obs: 221

Null rate: 87.87

Mean: 48.67

Median: 51.0
Mode: 77

Standard deviation: 12.78

Column min: 20.0

column max: 91.0

Age
51.0    77
52.0    11
35.0     6
31.0     5
42.0     5
60.0     5
57.0     5
73.0     4
53.0     4
41.0     4
Name: Age, dtype: int64

 *********************************************************

Is deceased?:

Data type: object

Total obs: 1822

Null rate: 0.0

Mean: n/a

Median: n/a
Mode: 1811

Standard deviation: n/a

Column min: n/a

column max: n/a

Is deceased?
No     1811
Yes      11
Name: Is deceased?, dtype: int64

 *********************************************************

Giving Summary (all time):

Data type: object

Total obs: 439

Null rate: 75.91

Mean: n/a

Median: n/a
Mode: 54

Standard deviation: n/a

Column min: n/a

column max: n/a

Giving Summary (all time)
Gifts: 1 / $100\n          54
Gifts: 1 / $50\n           35
In Kind: 1 / $0\n          27
Gifts: 1 / $25\n           19
Gifts: 1 / $250\n          11
Gifts: 1 / $500\n          10
Gifts: 1 / $1,000\n         6
Gifts: 1 / $107\n           6
Soft Credits: 1 / $50\n     6
Gifts: 1 / $200\n           5
Name: Giving Summary (all time), dtype: int64

 *********************************************************

School Name:

Data type: float64

Total obs: 0

Null rate: 100.0

Mean: nan

Median: nan
Mode: nan

Standard deviation: nan

Column min: nan

column max: nan

Series([], Name: School Name, dtype: int64)

 *********************************************************

MailChimp Status:

Data type: object

Total obs: 846

Null rate: 53.57

Mean: n/a

Median: n/a
Mode: 716

Standard deviation: n/a

Column min: n/a

column max: n/a

MailChimp Status
Subscribed      716
Unsubscribed     99
Removed          20
Bounced          11
Name: MailChimp Status, dtype: int64

 *********************************************************

Groups:

Data type: object

Total obs: 562

Null rate: 69.15

Mean: n/a

Median: n/a
Mode: 321

Standard deviation: n/a

Column min: n/a

column max: n/a

Groups
Construction Volunteer - Community     321
Volunteer - Other                       77
Board Member - Previous Year            25
ReStore - Current Volunteer             18
ReStore Donor                           18
ReStore - Previous Volunteer            14
Building Committee - Current            13
Homeowner Selection - Previous Year     11
GMHFH Homeowner                         11
Building Committee - Previous           10
Name: Groups, dtype: int64

 *********************************************************

Communication Tags:

Data type: object

Total obs: 1603

Null rate: 12.02

Mean: n/a

Median: n/a
Mode: 673

Standard deviation: n/a

Column min: n/a

column max: n/a

Communication Tags
No valid email;No valid phone                     673
Habitat Happenings                                217
No valid address;No valid phone                   122
No valid phone                                    111
Habitat Happenings;No valid phone                  81
Bad address;No valid address;No valid email        66
No valid address;No valid email;No valid phone     47
Habitat Happenings;No valid address                38
No valid email                                     37
Bad address;No valid email;No valid phone          36
Name: Communication Tags, dtype: int64

 *********************************************************

Giving Status:

Data type: object

Total obs: 1822

Null rate: 0.0

Mean: n/a

Median: n/a
Mode: 1411

Standard deviation: n/a

Column min: n/a

column max: n/a

Giving Status
Non Donor                               1411
Lapsed Donor                             167
Active Donor                             124
Top 100 Donor;Active Donor                60
Top 100 Donor;Lapsed Donor                36
New Donor;Active Donor                    20
Top 100 Donor;New Donor;Active Donor       4
Name: Giving Status, dtype: int64

 *********************************************************

Postal Route Code:

Data type: object

Total obs: 432

Null rate: 76.29

Mean: n/a

Median: n/a
Mode: 27

Standard deviation: n/a

Column min: n/a

column max: n/a

Postal Route Code
28105-R018    27
28105-R037    22
28105-R025    21
28105-R012    19
28105-R023    16
28105-R024    15
28105-R010    15
28105-R011    14
28105-R017    13
28105-R054    11
Name: Postal Route Code, dtype: int64

 *********************************************************

Pref. City:

Data type: object

Total obs: 1477

Null rate: 18.94

Mean: n/a

Median: n/a
Mode: 490

Standard deviation: n/a

Column min: n/a

column max: n/a

Pref. City
Charlotte       490
Matthews        402
Mint Hill        61
Indian Trail     48
Waxhaw           44
Monroe           30
Fort Mill        29
Huntersville     26
Concord          16
Harrisburg       12
Name: Pref. City, dtype: int64

 *********************************************************

Pref. State/Province:

Data type: object

Total obs: 1477

Null rate: 18.94

Mean: n/a

Median: n/a
Mode: 1239

Standard deviation: n/a

Column min: n/a

column max: n/a

Pref. State/Province
NC    1239
SC      48
FL      34
GA      18
VA      18
TX      14
CA      11
PA      11
NJ       9
MA       7
Name: Pref. State/Province, dtype: int64

 *********************************************************

Pref. ZIP/Postal Code:

Data type: object

Total obs: 1477

Null rate: 18.94

Mean: n/a

Median: n/a
Mode: 19

Standard deviation: n/a

Column min: n/a

column max: n/a

Pref. ZIP/Postal Code
28105         19
28105-6713     9
28270          8
28105-5738     7
28227          6
28202          5
28104          5
28104-0300     4
28277          4
28105-8880     4
Name: Pref. ZIP/Postal Code, dtype: int64

 *********************************************************

TG Amt. This Fiscal:

Data type: float64

Total obs: 1822

Null rate: 0.0

Mean: 101.88

Median: 0.0
Mode: 1738

Standard deviation: 1847.78

Column min: 0.0

column max: 61000.0

TG Amt. This Fiscal
0.0       1738
100.0       22
50.0         6
107.0        5
5000.0       4
75.0         4
25.0         3
1000.0       3
500.0        3
200.0        3
Name: TG Amt. This Fiscal, dtype: int64

 *********************************************************

TG Amt. Last Fiscal:

Data type: float64

Total obs: 1822

Null rate: 0.0

Mean: 91.33

Median: 0.0
Mode: 1705

Standard deviation: 1630.52

Column min: 0.0

column max: 61481.4

TG Amt. Last Fiscal
0.0       1705
100.0       16
50.0        11
500.0        6
200.0        6
250.0        5
1000.0       5
107.0        5
25.0         4
5000.0       3
Name: TG Amt. Last Fiscal, dtype: int64

 *********************************************************

First gift date:

Data type: object

Total obs: 442

Null rate: 75.74

Mean: n/a

Median: n/a
Mode: 12

Standard deviation: n/a

Column min: n/a

column max: n/a

First gift date
10/30/2019    12
9/20/2016      8
12/1/2020      7
11/27/2018     6
8/20/2020      5
12/22/2015     5
3/4/2015       5
1/3/2014       5
2/27/2015      5
5/18/2016      4
Name: First gift date, dtype: int64

 *********************************************************

First gift amount:

Data type: float64

Total obs: 442

Null rate: 75.74

Mean: 1200.16

Median: 100.0
Mode: 92

Standard deviation: 6363.94

Column min: 0.0

column max: 75000.0

First gift amount
100.0     92
50.0      58
0.0       34
25.0      29
1000.0    23
250.0     19
500.0     18
20.0      15
200.0     12
35.0      10
Name: First gift amount, dtype: int64

 *********************************************************

Last gift date:

Data type: object

Total obs: 442

Null rate: 75.74

Mean: n/a

Median: n/a
Mode: 11

Standard deviation: n/a

Column min: n/a

column max: n/a

Last gift date
11/30/2021    11
10/30/2019     9
12/1/2020      8
12/3/2021      5
2/27/2015      5
3/4/2015       5
10/15/2020     5
9/20/2016      5
5/18/2016      4
5/19/2020      4
Name: Last gift date, dtype: int64

 *********************************************************

Last gift amount:

Data type: float64

Total obs: 442

Null rate: 75.74

Mean: 1091.22

Median: 100.0
Mode: 89

Standard deviation: 5323.99

Column min: 0.0

column max: 61481.4

Last gift amount
100.0     89
50.0      56
25.0      32
0.0       28
500.0     22
250.0     17
1000.0    17
200.0     13
20.0      11
10.0      10
Name: Last gift amount, dtype: int64

 *********************************************************

Largest gift date:

Data type: object

Total obs: 442

Null rate: 75.74

Mean: n/a

Median: n/a
Mode: 9

Standard deviation: n/a

Column min: n/a

column max: n/a

Largest gift date
10/30/2019    9
12/1/2020     9
9/20/2016     7
11/30/2021    6
12/22/2015    6
2/27/2015     5
10/15/2020    5
3/4/2015      5
1/7/2020      4
5/18/2016     4
Name: Largest gift date, dtype: int64

 *********************************************************

Largest gift amount:

Data type: float64

Total obs: 442

Null rate: 75.74

Mean: 1473.05

Median: 100.0
Mode: 81

Standard deviation: 7046.02

Column min: 0.0

column max: 75000.0

Largest gift amount
100.0     81
50.0      56
0.0       28
25.0      27
500.0     23
1000.0    21
250.0     17
200.0     14
300.0     11
107.0     11
Name: Largest gift amount, dtype: int64

 *********************************************************

Appeal:

Data type: float64

Total obs: 0

Null rate: 100.0

Mean: nan

Median: nan
Mode: nan

Standard deviation: nan

Column min: nan

column max: nan

Series([], Name: Appeal, dtype: int64)

 *********************************************************

Received any appeal?:

Data type: object

Total obs: 1822

Null rate: 0.0

Mean: n/a

Median: n/a
Mode: 1205

Standard deviation: n/a

Column min: n/a

column max: n/a

Received any appeal?
Yes    1205
No      617
Name: Received any appeal?, dtype: int64

 *********************************************************

In [17]:
mdf['Pref. ZIP/Postal Code'].nunique()

1296